.root {
  border: 2px solid #ebebeb;
  width: 100%;
  border-radius: 10px;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 10px;
  flex: auto;
  font-size: 16px;
}

.root:disabled {
  background-color: rgba(235, 235, 235, 0.36);
}
